before_install:
  - travis_retry make node_modules
  - source ./tests/travis_ci/venv.sh
install: ./node_modules/.bin/travisaction $CI_ACTION install
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- ./node_modules/.bin/travisaction $CI_ACTION before_script
script: ./node_modules/.bin/travisaction $CI_ACTION script
after_script: ./node_modules/.bin/travisaction $CI_ACTION after_script
branches:
  only:
  - master
env:
  matrix:
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=1
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=2
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=3
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=4
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=5
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=6
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=7
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=8
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=9
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=10
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=11
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=12
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=13
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=14
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=15
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=16
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=17
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=18
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=19
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=20
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=21
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=22
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=23
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=24
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=25
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=26
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=27
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=28
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=29
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=30
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=31
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=32
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=33
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=34
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=35
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=36
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=37
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=38
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=39
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=40
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=41
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=42
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=43
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=44
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=45
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=46
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=47
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=48
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=49
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=50
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=51
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=52
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=53
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=54
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=55
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=56
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=57
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=58
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=59
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=60
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=61
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=62
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=63
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=64
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=65
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=66
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=67
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=68
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=69
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=70
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=71
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=72
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=73
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=74
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=75
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=76
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=77
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=78
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=79
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=80
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=81
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=82
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=83
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=84
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=85
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=86
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=87
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=88
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=89
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=90
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=91
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=92
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=93
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=94
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=95
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=96
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=97
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=98
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=99
  - CI_ACTION=marionette_js PART=1 NBPARTS=1 X=100
  global:
  - ARTIFACTS_S3_BUCKET=mozilla-releng-travis-uploads
  - secure: Gf2qm+xhLRTotuIvDD7HrNRmng3/dctGdsgF5P4aEu3nDujfxtZTp4sGirTqIngbfVzh9WkJ9eoT0yaDXtvWkr40Df6vwAUyI3P1x+NBOa2CkLz7U+f9j1yaJ3pJ121+L3o+7eTzJy/mvXHJYXAfa7rxcmjrCHpH5BSm+9/OZ4s=
  - secure: JgNTK2gfJY1UcpXU/j0MFUvB1P7GaQyOVKBT19uwE2xCsO+T00YWnEhDGFZ9CxYDsATQ5EG5cW/eaoqXOpI9QQsR5kEJp1N1rLvKliqtGcm/ocVjWl/dhsG1i+ksJSCm1oDwduEuLFZ7tChrXihiZ2Sn1RAWns0mjZw9+8+tDhU=
matrix:
  fast_finish: true
notifications:
  email: false
