html {
  font-size: 10px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

gaia-grid {
  display: block;
  height: 100%;
  width: 100%;
}

body[data-cols="10"] .icon .title {
  display: none !important;
}

/* START SUPER HACKS */
.divider header {
  color: #fff;
  font-size: 2.2rem;
  position: absolute;
  left: 0;
  top: 10px;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
               0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
}

body[data-cols="10"] .icon {
  width: calc(100% / 3.5) !important;
}

body[data-cols="10"] .divider {
  margin: 1.3rem 17% !important;
}
/* END SUPER HACKS */

.edit-mode #edit-mode-curtain {
  background: #000;
  opacity: 0.05;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

#confirmation-message.fade-in {
  position: fixed;
}

/* The confirmation message can not successfully fade out as implemented due
   to our vertical layout and position: fixed assignment */
#confirmation-message.fade-out {
  display: none;
}

#contextmenu-dialog {
  display: none;
}
