html, body {
  background-color: #edeee9;
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.entry-sheet {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
}

.modal-form label {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.modal-form input {
  margin-bottom: 1.5rem;
}

#list aside {
  top: 1.2rem;
}